_ReSharper.*
*/bin
*/obj
*.resharper.user
*.suo
*.bak
*.sln.cache
*.user
*.zip
*.chm
*.nupkg
*.ncrunchproject
*.ncrunchsolution
*.sln.dotsettings
Help/*
build/*
nuget/*
tools/Sandcastle/Data/Reflection/*
merged
log.txt
NDependOut
docs
mausch.snk
lib/TDNet
SampleSolrApp/log*
_NCrunch*/*
*~
packages/*
.nuget/*.exe
*.sln.ide
.vs/*
**/data/*
**/logs/*
solr_5.5.3/server/solr/hsperfdata_*/*
